body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
}
.width-third{
    width: 30%;
    margin-right: 3%;
}

/*banner section start*/
#banner-section{
    display: flex;
    margin: 4% 20% 5% 10%;
}
.heading{
    border-left: 5px solid tomato;
}
.heading h1{
    font-size: 55px;
    padding-left: 20px;
    padding-right: 200px;
    font-family: cursive;
}
.heading h1 span{
    color: darkorange;
}
a{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    border-radius: 10px 40px;
}
#banner-section p{
    text-align: justify;
    padding-right: 100px;
    padding-bottom: 15px;
}
#banner-section h4{   
    font-weight: 400;
}
#banner-section img{
    border-radius: 100px 200px 500px 200px;
    margin-left: 20%;
    padding-top: 5%;
}
/*Banner section end*/

/*Mission section start*/
#mission-section{
    margin: 5% 10% 5% 10%;
}
#mission-section h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 4%;
}
#mission-section h1 span{
    color: darkorange;
}
.mission-area{
    display: flex;
}
.mission-area img{
    height: 200px;
    width: 200px;
}
.mission{
    background-color: rgb(209, 209, 224);
}
.vission{
    background-color: 	rgb(255, 242, 229);
}
.goals{
    background-color: rgb(255, 255, 204);
}
.misson-sec-com{
    border-radius: 5%;
}
.misson-sec-com img{
    margin-left: 5%;
}
.misson-sec-com h2{
    margin-top: -2px;
    margin-left: 10%;
    font-size: 30px;
}
.misson-sec-com p{
    padding: 0 10% 5% 10%;
    text-align: justify;
}
/*Mission section end*/

/*Develop skiils section start*/
#develop-section{
    display: flex;
    align-items: center;
    margin: 5% 15% 5% 6%;
    background-image: url('..//images/bg2.png');
    background-repeat: no-repeat;
    background-position: left;
}
#develop-section img{
    width: 100%;
    border-radius: 30px;
    margin-left: 11%;
}
.develop-skills-text{
    margin-left: 10%;
}
.develop-skills-text h1{
    font-size: 40px;
}
.develop-skills-text p{
    padding-bottom: 3%;
}
/*Develop skills section end*/

/*Community section start*/
#community-section{
    display: flex;
    align-items: center;
    padding: 5% 6% 5% 10%;
    background: url('../images/bg2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 91%;
    background-position-y: 435px;
}
#community-section img{
    width: 100%;
    border-radius: 30px;
    margin-left: -20%;
}
.community-text{
    padding-right: 15%;
}
.community-text h1{
    font-size: 40px;
}
.community-text p{
    padding-bottom: 3%;
}
/*Community section end*/

/*Team section start*/
#team-section{
    margin: 5% 10% 10% 10%;
}
.team-area{
    display: flex;
}
#team-section h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 4%;
}
#team-section h1 span{
    color: darkorange;
}
.team-area img{
    height: 600px;
    width: 94%;
    padding: 3%;
}
.team-card{
    background-color: #292929;
}
.team-card h2{
    text-align: center;
    color: white;
    font-size: 28px;
}
.team-card h3{
    text-align: center;
    color: #f3971b;
    font-weight: 400;
}
/*Team section end*/

/*Footer section start*/
footer{
    background-color: black;
    height: 200px;
}
footer h1{
    padding-top: 50px;
    color: white;
    text-align: center;
    font-family: cursive;
}
footer h1 span{
    color: coral;
}
footer p{
    color: white;
    text-align: center;
}
/*Footer section end*/