body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*Mission section start*/
#mission-section{
    margin: 5% 10% 5% 10%;
}
#mission-section h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 4%;
}
#mission-section h1 span{
    color: darkorange;
}
.mission-area{
    display: flex;
}
.width-third{
    width: 30%;
    margin-right: 3%;
}
.mission-area img{
    height: 200px;
    width: 200px;
}
.mission{
    background-color: rgb(209, 209, 224);
}
.vission{
    background-color: 	rgb(255, 242, 229);
}
.goals{
    background-color: rgb(255, 255, 204);
}
.misson-sec-com{
    border-radius: 5%;
}
.misson-sec-com img{
    margin-left: 5%;
}
.misson-sec-com h2{
    margin-top: -2px;
    margin-left: 10%;
    font-size: 30px;
}
.misson-sec-com p{
    padding: 0 10% 5% 10%;
    text-align: justify;
}
/*Mission section end*/

/*Team section start*/
#team-section{
    margin: 5% 10% 5% 10%;
}
.team-area{
    display: flex;
}
#team-section h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 4%;
}
#team-section h1 span{
    color: darkorange;
}
.team-area img{
    height: 600px;
    width: 94%;
    padding: 3%;
}
.team-card{
    background-color: #292929;
}
.team-card h2{
    text-align: center;
    color: white;
    font-size: 28px;
}
.team-card h3{
    text-align: center;
    color: #f3971b;
    font-weight: 400;
}
/*Team section end*/

